@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

img {
    max-width: 60vw;
    max-height: 80vh;
}

button {
    width: 18vw;
    height: 6vh;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: .2rem;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    transition: 0.5s ease-in-out;
    background-color: black;
    color: white;
}
